# NetBeans specific #
nbproject
nbproject/build-impl.xml
nbproject/genfiles.properties
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# Class Files #
*.class

# Package Files #
*.jar
*.war
*.ear

# Else
Thumbs.db
destop.ini
*.swp
*.xml
*.properties
/.sonar/
